/*Скопируйте следующий HTML код себе на страницу:Добавьте к этому коду CSS стили, чтобы получилось следующее:*/
/*h1 {
    text-align: left;
    color:blue;
}
 h2 {
    text-align: left;
    color: green;
 }
p {
    
    word-spacing: 20px;
}*/



 /**/